@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%;
    --foreground: 210 22% 20%;
    --card: 0 0% 100%;
    --card-foreground: 210 22% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 22% 20%;
    --primary: 210 22% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 10% 92%;
    --secondary-foreground: 210 22% 20%;
    --muted: 240 10% 92%;
    --muted-foreground: 240 5% 45%;
    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 88%;
    --ring: 180 100% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 22% 15%;
    --foreground: 0 0% 98%;
    --card: 210 22% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 210 22% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 210 22% 20%;
    --secondary: 210 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 20% 25%;
    --muted-foreground: 240 5% 65%;
    --accent: 180 80% 45%;
    --accent-foreground: 210 22% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 30%;
    --input: 210 20% 30%;
    --ring: 180 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
